
.card-custom {
  width: 18rem; 
  height: auto; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  margin: auto; 
}

.card-custom img {
  height: 220px; /* Cố định chiều cao ảnh */
  object-fit: cover; 
}

.card-custom:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.card-custom:hover img {
  transform: scale(1.05);
}

.btn-info {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  transition: background 0.4s ease, transform 0.3s ease;
  border-radius: 50px;
}

.btn-info:hover {
  background: linear-gradient(135deg, #fda085 0%, #f6d365 100%);
  transform: scale(1.05);
}
