@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Galada&display=swap");
.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  width: 100%;
  padding: 5px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s ease-in-out;
  background: transparent;
}

/* Header khi cuộn xuống */
.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* đổ bóng */
  transition: all 0.3s ease-in-out;
}
.navbar {
  padding: 0.5rem 0;
}

.logo-img {
  height: 80px;
}

.menu {
  margin-bottom: 0;
}

.nav-header {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-header:hover {
  color: rgb(236, 214, 85);
}

.active__link {
  color: orange;
}

.mobile__menu {
  font-size: 1.5rem;
  color: orange;
  display: block;
  border: none;
  background: transparent;
}

.mobile__nav {
  background-color: #16114e;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav__btns {
  width: 100%;
}

@media (min-width: 992px) {
  .mobile__menu {
    display: none;
  }

  .mobile__nav {
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .nav__btns {
    width: auto;
  }
}
.grad-header {
  background-image: linear-gradient( 235deg, #52E5E7 10%, #130CB7 100%);
}
/* background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
.btn-header {
  background: linear-gradient(135deg, #e16015, #ed1414);
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.4s ease, transform 0.3s ease;
  border-radius: 50px;
}

.btn-header:hover {
  background: linear-gradient(135deg, #066e6c 0%, #9865f6 100%);
  transform: scale(1.05);
}
.galada1 {
  font-family: "Galada", cursive;
}
.btn-header1 {
  background: linear-gradient(135deg, #e4af10, #ed7914);
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.4s ease, transform 0.3s ease;
  border-radius: 50px;
}
.btn-header1:hover {
  background: linear-gradient(135deg, #066e6c 0%, #9865f6 100%);
  transform: scale(1.05);
}