.footer {
    padding-top: 70px;
    padding-bottom: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer .logo img {
    width: 50%;
    margin-top: 1rem;
}

.footer .logo p {
    color: var(--text-color);
}

.social__links span a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}

.footer__link-title {
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer__quick-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
}

.footer__quick-links h6 span i {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.copyright {
    color: var(--text-color);
    font-size: 1rem;
}
.scroll-ticker {
    background-image: url('../../assets/images/scroll.webp'); /* Adjust to your path */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding:  70px; /* Optional: keeps text away from scroll edges */
}

.scroll-text {
    white-space: nowrap;
    color: #3b240b;
    font-weight: bold;
    font-size: 1.2rem;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}