.image-animate {
  opacity: 0;
  transform: translateY(40px); /* bắt đầu trượt từ dưới lên */
  transition: opacity 0.8s ease-out, transform 0.1s ease-out;
  will-change: opacity, transform;
}

.image-animate.visible {
  opacity: 1;
  transform: translateY(0); /* về vị trí ban đầu */
}

.image-animate:hover {
  transform: scale(1.03); /* phóng nhẹ khi hover */
  transition: transform 0.3s ease;
}
